{% extends 'pages/base.jinja' %}

{% block title %} Random Number {% endblock %}

{% block content %} 
    <h2>Here is a stupid random number...</h2>

    <article id="randNum">

        {{ number }}

    </article>
{% endblock %}