{% extends 'pages/base.jinja' %}

{% block title %} test {% endblock %}

{% block content %} 
    <h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH OH GOD AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHH</h1> 
    <p>You are causing him extreme pain :3</p>
{% endblock %}